---
- name: Debloat | Powershell execution policy unrestricted
  win_shell: Set-ExecutionPolicy Unrestricted -Force

- name: Debloat | Remove windows pre-installed unnecessary applications
  win_shell: |
      IEX(New-Object System.Net.WebClient).DownloadString("https://github.com/Sycnex/Windows10Debloater/raw/master/Windows10SysPrepDebloater.ps1")

- name: Debloat | Uninstall OneDrive
  win_shell: |
    IEX(New-Object System.Net.WebClient).DownloadString("https://github.com/Sycnex/Windows10Debloater/raw/master/Individual%20Scripts/Uninstall%20OneDrive")

- name: Debloat | Disable Cortana
  win_shell: |
    IEX(New-Object System.Net.WebClient).DownloadString("https://github.com/Sycnex/Windows10Debloater/raw/master/Individual%20Scripts/Disable%20Cortana")

- name: Debloat | Reinstall Microsoft Terminal
  win_chocolatey:
    name: "microsoft-windows-terminal"
    state: present
    force: yes
