---
- name: Debloat | Powershell execution policy unrestricted
  win_shell: Set-ExecutionPolicy Unrestricted -Force

- name: Debloat | Disable some windows services
  win_service:
    name: "{{ item.service }}" 
    start_mode: "disabled"
    state: "stopped"
  loop:
    - { service: "BITS" }
    - { service: "DiagTrack" }

- name: Debloat | Uninstall OneDrive
  win_shell: |
    IEX(New-Object System.Net.WebClient).DownloadString("https://github.com/Sycnex/Windows10Debloater/raw/master/Individual%20Scripts/Uninstall%20OneDrive")

- name: Debloat | Disable Cortana
  win_shell: |
    IEX(New-Object System.Net.WebClient).DownloadString("https://github.com/Sycnex/Windows10Debloater/raw/master/Individual%20Scripts/Disable%20Cortana")

- name: Debloat | Uninstall MicrosoftTeams
  win_shell: |
    Get-AppxPackage -allusers MicrosoftTeams | Remove-AppxPackage

- name: Debloat | Privacy Protection
  win_shell: |
    IEX(New-Object System.Net.WebClient).DownloadString("https://github.com/Sycnex/Windows10Debloater/raw/master/Individual%20Scripts/Protect%20Privacy")

- name: Debloat | Remove bloatware registry keys
  win_shell: |
    IEX(New-Object System.Net.WebClient).DownloadString("https://github.com/Sycnex/Windows10Debloater/raw/master/Individual%20Scripts/Remove%20Bloatware%20RegKeys")
